<div class="container">
  <div class="row">
    <div class="col-1 whatsapp logo"  (click)="activeLogo('whatsapp')">
      <mat-icon class="icon" svgIcon="whatsapp"></mat-icon>
      <div class="pseudo-icon" id="whatsapp">
        <mat-icon class="pseudo" svgIcon="whatsapp"></mat-icon>
      </div>
    </div>
    <div class="col-1 facebook logo" (click)="activeLogo('facebook')">
      <mat-icon class="icon" svgIcon="facebook"></mat-icon>
      <div class="pseudo-icon" id="facebook">
        <mat-icon class="pseudo" svgIcon="facebook"></mat-icon>
      </div></div>
    <div class="col-1 instagram logo" (click)="activeLogo('instagram')">
      <mat-icon class="icon" svgIcon="instagram"></mat-icon>
      <div class="pseudo-icon" id="instagram">
      <mat-icon class="pseudo" svgIcon="instagram"></mat-icon>
      </div>
    </div>
  </div>
</div>
