<div class="main">
  <div class="container">
    <div class="row pt-3">
      <div class="col-12 news card p-4">
        <h2>About Dashboard</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-3 mr-3 card settings ">
        <mat-icon class="icon" svgIcon="settings"></mat-icon>
      </div>
      <div class="col card users">
        <mat-icon class="icon" svgIcon="users"></mat-icon>
      </div>
      <div class="col-6 list card release ">
        <h2>Releases</h2>
        <p class="ml-5">v 1.0.0</p>
        <div class="buton d-flex align-items-end justify-content-end">
          <button mat-raised-button color="primary"> Know more</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col card graphic">
        <h2>Atividade</h2>
        <div class="graphic-act">
          <div class="div"><span>Domingo</span></div>
          <div class="div"><span>Segunda</span></div>
          <div class="div"><span>Terça</span></div>
          <div class="div"><span>Quarta</span></div>
          <div class="div"><span>Quinta</span></div>
          <div class="div"><span>Sexta</span></div>
          <div class="div"><span>Sabado</span></div>
        </div>
      </div>
    </div>
  </div>
</div>
